.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #667DB6 0.36%, #B923E1 103.6%);
    cursor: pointer;
    font-size: 22px;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu p{
    padding-bottom: 5px;
    transition: border-bottom 0.3s ease;
    cursor: pointer;
}
.nav-menu p.active {
    border-bottom: 2px solid black;
}